body {
  font-family: "Mulish", sans-serif;
}

.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-14 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .fz-14 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14 {
    font-size: 14px !important;
  }
}

.fz-15 {
  font-size: 15px !important;
}
@media screen and (min-width: 640px) {
  .fz-15 {
    font-size: calc(15px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15 {
    font-size: 15px !important;
  }
}

.fz-16 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-16 {
    font-size: calc(16px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16 {
    font-size: 16px !important;
  }
}

.fz-20 {
  font-size: 18px !important;
}
@media screen and (min-width: 640px) {
  .fz-20 {
    font-size: calc(18px + 2 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20 {
    font-size: 20px !important;
  }
}

.fz-30 {
  font-size: 24px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(24px + 6 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 30px !important;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__48:nth-child(n+2) {
  margin-top: 48px;
}
.item__30:nth-child(n+2) {
  margin-top: 30px;
}
.item__24:nth-child(n+2) {
  margin-top: 24px;
}
.item__20:nth-child(n+2) {
  margin-top: 20px;
}
.item__16:nth-child(n+2) {
  margin-top: 16px;
}
.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}

.commons__section {
  padding-bottom: 60px;
  padding-top: 46px;
}
@media (min-width: 960px) {
  .commons__section {
    padding-top: 47px;
  }
}

.footer {
  background: #F0F3F3;
}
.footer .uk-navbar-item {
  min-height: 42px;
}
@media (min-width: 960px) {
  .footer .uk-navbar-item {
    min-height: 80px;
  }
}
.footer .uk-navbar-right {
  flex: 1;
}
@media (min-width: 960px) {
  .footer .uk-navbar-right {
    flex: initial;
  }
}
.footer__txt {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #3C3C3C;
  font-size: 12px;
}
@media (min-width: 960px) {
  .footer__txt {
    font-size: 14px;
  }
}

.home__logo img {
  width: 160px !important;
}
@media screen and (min-width: 640px) {
  .home__logo img {
    width: calc(160px + 30 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .home__logo img {
    width: 190px !important;
  }
}
.home__title {
  font-weight: 300;
  line-height: 1.25;
  color: #3C3C3C;
  font-family: "Mulish", sans-serif;
}
.home__title {
  font-size: 24px !important;
}
@media screen and (min-width: 640px) {
  .home__title {
    font-size: calc(24px + 8 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .home__title {
    font-size: 32px !important;
  }
}
.home__txt, .home__txtSmall {
  color: #3C3C3C;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}
.home__txtSmall {
  font-size: 12px;
}
.home__icon {
  display: flex;
  align-items: center;
}
.home__icon:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.home__item:hover .home__view {
  color: #1464F4 !important;
}
.home__view:before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7616 10.1609L17.7617 10.1608L18.0536 10.3106C18.1489 10.1151 18.1487 9.88445 18.0534 9.68895L18.0523 9.68671L18.05 9.68197L18.0423 9.66654C18.0358 9.65366 18.0267 9.63563 18.0149 9.6128C17.9914 9.56715 17.9572 9.50224 17.9125 9.42083C17.8233 9.25808 17.6919 9.02883 17.5196 8.75519C17.1758 8.20924 16.6648 7.47958 15.9954 6.74726C14.6689 5.29614 12.6404 3.75 10.0001 3.75C7.35975 3.75 5.33118 5.29614 4.00476 6.74726C3.33537 7.47958 2.82432 8.20924 2.48054 8.75519C2.30823 9.02883 2.17684 9.25808 2.08759 9.42083C2.04293 9.50224 2.00875 9.56715 1.9852 9.6128C1.97342 9.63563 1.96429 9.65366 1.95783 9.66654L1.95015 9.68197L1.94781 9.68671L1.94702 9.68833C1.9469 9.68858 1.94648 9.68943 2.55209 10L1.94648 9.68943C1.85117 9.88494 1.85117 10.1151 1.94648 10.3106L1.94648 10.3106C1.94643 10.3104 1.94741 10.3099 2.02207 10.2717C2.09765 10.233 2.24873 10.1556 2.55068 10.0007L1.94648 10.3106L1.94781 10.3133L1.95015 10.318L1.95783 10.3335C1.96429 10.3463 1.97342 10.3644 1.9852 10.3872C2.00875 10.4328 2.04293 10.4978 2.08759 10.5792C2.17684 10.7419 2.30823 10.9712 2.48054 11.2448C2.82432 11.7908 3.33537 12.5204 4.00476 13.2527C5.33118 14.7039 7.35975 16.25 10.0001 16.25C12.6404 16.25 14.6689 14.7039 15.9954 13.2527C16.6648 12.5204 17.1758 11.7908 17.5196 11.2448C17.6919 10.9712 17.8233 10.7419 17.9125 10.5792C17.9572 10.4978 17.9914 10.4328 18.0149 10.3872C18.0267 10.3644 18.0358 10.3463 18.0423 10.3335L18.05 10.318L18.0523 10.3133L18.0531 10.3117C18.0532 10.3115 18.0535 10.3109 17.7616 10.1609ZM18.0534 9.68895C18.0535 9.68915 18.0536 9.68933 17.7617 9.83913L17.7615 9.83891L18.0534 9.68895ZM8.81944 10C8.81944 9.23294 9.44127 8.61111 10.2083 8.61111C10.9754 8.61111 11.5972 9.23294 11.5972 10C11.5972 10.7671 10.9754 11.3889 10.2083 11.3889C9.44127 11.3889 8.81944 10.7671 8.81944 10ZM10.2083 7.22222C8.67421 7.22222 7.43056 8.46588 7.43056 10C7.43056 11.5341 8.67421 12.7778 10.2083 12.7778C11.7425 12.7778 12.9861 11.5341 12.9861 10C12.9861 8.46588 11.7425 7.22222 10.2083 7.22222Z' fill='%233C3C3C'/%3E%3C/svg%3E%0A");
}
.home__item:hover .home__view:before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7616 10.1609L17.7617 10.1608L18.0536 10.3106C18.1489 10.1151 18.1487 9.88445 18.0534 9.68895L18.0523 9.68671L18.05 9.68197L18.0423 9.66654C18.0358 9.65366 18.0267 9.63563 18.0149 9.6128C17.9914 9.56715 17.9572 9.50224 17.9125 9.42083C17.8233 9.25808 17.6919 9.02883 17.5196 8.75519C17.1758 8.20924 16.6648 7.47958 15.9954 6.74726C14.6689 5.29614 12.6404 3.75 10.0001 3.75C7.35975 3.75 5.33118 5.29614 4.00476 6.74726C3.33537 7.47958 2.82432 8.20924 2.48054 8.75519C2.30823 9.02883 2.17684 9.25808 2.08759 9.42083C2.04293 9.50224 2.00875 9.56715 1.9852 9.6128C1.97342 9.63563 1.96429 9.65366 1.95783 9.66654L1.95015 9.68197L1.94781 9.68671L1.94702 9.68833C1.9469 9.68858 1.94648 9.68943 2.55209 10L1.94648 9.68943C1.85117 9.88494 1.85117 10.1151 1.94648 10.3106L1.94648 10.3106C1.94643 10.3104 1.94741 10.3099 2.02207 10.2717C2.09765 10.233 2.24873 10.1556 2.55068 10.0007L1.94648 10.3106L1.94781 10.3133L1.95015 10.318L1.95783 10.3335C1.96429 10.3463 1.97342 10.3644 1.9852 10.3872C2.00875 10.4328 2.04293 10.4978 2.08759 10.5792C2.17684 10.7419 2.30823 10.9712 2.48054 11.2448C2.82432 11.7908 3.33537 12.5204 4.00476 13.2527C5.33118 14.7039 7.35975 16.25 10.0001 16.25C12.6404 16.25 14.6689 14.7039 15.9954 13.2527C16.6648 12.5204 17.1758 11.7908 17.5196 11.2448C17.6919 10.9712 17.8233 10.7419 17.9125 10.5792C17.9572 10.4978 17.9914 10.4328 18.0149 10.3872C18.0267 10.3644 18.0358 10.3463 18.0423 10.3335L18.05 10.318L18.0523 10.3133L18.0531 10.3117C18.0532 10.3115 18.0535 10.3109 17.7616 10.1609ZM18.0534 9.68895C18.0535 9.68915 18.0536 9.68933 17.7617 9.83913L17.7615 9.83891L18.0534 9.68895ZM8.81944 10C8.81944 9.23294 9.44127 8.61111 10.2083 8.61111C10.9754 8.61111 11.5972 9.23294 11.5972 10C11.5972 10.7671 10.9754 11.3889 10.2083 11.3889C9.44127 11.3889 8.81944 10.7671 8.81944 10ZM10.2083 7.22222C8.67421 7.22222 7.43056 8.46588 7.43056 10C7.43056 11.5341 8.67421 12.7778 10.2083 12.7778C11.7425 12.7778 12.9861 11.5341 12.9861 10C12.9861 8.46588 11.7425 7.22222 10.2083 7.22222Z' fill='%231464F4'/%3E%3C/svg%3E%0A");
}
.home__download:before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8384 3.96341C10.8384 3.50037 10.463 3.125 10 3.125C9.53696 3.125 9.16159 3.50037 9.16159 3.96341V8.65854H7.31709C7.04581 8.65854 6.80123 8.82196 6.69742 9.07259C6.5936 9.32323 6.65099 9.61172 6.84281 9.80355L9.52574 12.4865C9.78768 12.7484 10.2124 12.7484 10.4743 12.4865L13.1572 9.80355C13.3491 9.61172 13.4064 9.32323 13.3026 9.07259C13.1988 8.82196 12.9542 8.65854 12.6829 8.65854H10.8384V3.96341Z' fill='%233C3C3C'/%3E%3Cpath d='M4.80183 12.0122C4.80183 11.5492 4.42646 11.1738 3.96341 11.1738C3.50037 11.1738 3.125 11.5492 3.125 12.0122V14.6951C3.125 15.2733 3.35467 15.8277 3.76347 16.2365C4.17228 16.6453 4.72674 16.875 5.30488 16.875H14.6951C15.2733 16.875 15.8277 16.6453 16.2365 16.2365C16.6453 15.8277 16.875 15.2733 16.875 14.6951V12.0122C16.875 11.5492 16.4996 11.1738 16.0366 11.1738C15.5735 11.1738 15.1982 11.5492 15.1982 12.0122V14.6951C15.1982 14.8285 15.1452 14.9565 15.0508 15.0508C14.9565 15.1452 14.8285 15.1982 14.6951 15.1982H5.30488C5.17146 15.1982 5.04351 15.1452 4.94917 15.0508C4.85483 14.9565 4.80183 14.8285 4.80183 14.6951V12.0122Z' fill='%233C3C3C'/%3E%3C/svg%3E%0A");
}
.home__status--success {
  color: #28A745 !important;
}
.home__status--success:before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_11_461' fill='white'%3E%3Cpath d='M15.75 6.74999L7.5 15L3.375 10.875L3.96417 10.2858L7.5 13.8217L15.16 6.16083L15.7492 6.75083L15.75 6.74999Z'/%3E%3C/mask%3E%3Cpath d='M15.75 6.74999L7.5 15L3.375 10.875L3.96417 10.2858L7.5 13.8217L15.16 6.16083L15.7492 6.75083L15.75 6.74999Z' fill='%2328A745'/%3E%3Cpath d='M7.5 15L6.08579 16.4142L7.5 17.8284L8.91421 16.4142L7.5 15ZM3.375 10.875L1.96079 9.46078L0.546573 10.875L1.96079 12.2892L3.375 10.875ZM3.96417 10.2858L5.37838 8.87161L3.96417 7.4574L2.54995 8.87161L3.96417 10.2858ZM7.5 13.8217L6.08579 15.2359L7.50008 16.6502L8.91429 15.2358L7.5 13.8217ZM15.16 6.16083L16.5752 4.74761L15.1609 3.33132L13.7457 4.74669L15.16 6.16083ZM15.7492 6.75083L14.334 8.16404L15.7482 9.58025L17.1634 8.16504L15.7492 6.75083ZM14.3358 5.33578L6.08579 13.5858L8.91421 16.4142L17.1642 8.16421L14.3358 5.33578ZM8.91421 13.5858L4.78921 9.46078L1.96079 12.2892L6.08579 16.4142L8.91421 13.5858ZM4.78921 12.2892L5.37838 11.7L2.54995 8.87161L1.96079 9.46078L4.78921 12.2892ZM2.54995 11.7L6.08579 15.2359L8.91421 12.4074L5.37838 8.87161L2.54995 11.7ZM8.91429 15.2358L16.5743 7.57496L13.7457 4.74669L6.08571 12.4075L8.91429 15.2358ZM13.7448 7.57404L14.334 8.16404L17.1644 5.33761L16.5752 4.74761L13.7448 7.57404ZM17.1634 8.16504L17.1642 8.16421L14.3358 5.33578L14.335 5.33661L17.1634 8.16504Z' fill='%2328A745' mask='url(%23path-1-inside-1_11_461)'/%3E%3C/svg%3E%0A");
}
.home__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #D9E1E2;
}
@media (min-width: 960px) {
  .home__item:hover {
    box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.1);
  }
}
.home__txtLogo {
  color: #1464F4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.home__btn {
  background: #1464F4;
  max-width: 300px;
  line-height: 50px;
  letter-spacing: 0.1em;
  font-weight: 700;
  border-radius: 3px;
  font-size: 16px;
}
.home__item-48-30:nth-child(n+2) {
  margin-top: 30px;
}
@media (min-width: 960px) {
  .home__item-48-30:nth-child(n+2) {
    margin-top: 48px;
  }
}

/*# sourceMappingURL=style.css.map */
